[Desktop Entry]
Version=1.0
Type=Application
Name=LuxTemp
Comment=Modern brightness and color temperature control
Exec=luxtemp
Icon=brightness-control
Terminal=false
Categories=Settings;HardwareSettings;GTK;
Keywords=luxtemp;brightness;display;backlight;screen;temperature;flux;bluelight;colortemp;
StartupNotify=true
