[Desktop Entry]
Type=Application
Name=LuxTemp (Tray)
Comment=Brightness and color temperature control in system tray
Exec=luxtemp --tray
Icon=brightness-control
Terminal=false
Categories=Settings;
X-GNOME-Autostart-enabled=true
Hidden=false
NoDisplay=false
